.mat-toolbar.mat-primary {
  background: rgb(255,223,0);
  color: black;
  border-bottom-width: thick;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px;
}

.mat-toolbar-multiple-rows {
  min-height: 45px;
}
