<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon>account_balance_wallet</mat-icon>
            <h1>Budget Planner</h1>
            <span class="menu-spacer"></span>
            <div>
                <a mat-button 
                    routerLinkActive="mat-primary"
                    [routerLink]="'/welcome'"
                    [routerLinkActiveOptions]="{ exact:true }"
                > Welcome </a>
                <a mat-button 
                    routerLinkActive="mat-primary"
                    [routerLink]="'/model-set'"
                    [routerLinkActiveOptions]="{ exact:true }"
                > Models </a>
                <a mat-button> Current Expenses </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-container">
        <ng-content>
        </ng-content>
    </div>
</div>