<p-table [value]="value" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
        Header
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{data.code}}</td>
            <td>{{data.name}}</td>
            <td>{{data.category}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.price}}</td>
        </tr>
    </ng-template>
</p-table>